<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder</title>
    <link rel="stylesheet" href="../styles/home.css" />
    <script type="module" src="../main.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="sidebar">
        <a class="logotype" href="/">Filebase</a>
        <a class="menu-item active" href="/home">All files</a>
        <a class="menu-item" href="/shared">Shared</a>
        <a class="menu-item" href="/favourites">Favourites</a>
        <a class="menu-item" href="/trash">Trash</a>
        <a class="signed-in-message"
          >Signed in with Google as <%= displayName %></a
        >
        <a class="logout-button" href="/logout">Logout</a>
      </div>

      <div class="main-content">
        <a class="back-button" href="/home">Back</a>
        <div class="wrapper">

          <div class="all-files-section">
            <div class="files-header"><%= folderName %></div>
            <div class="choose-upload">Upload</div>
            <div class="upload-buttons-container">
              <form
                id="upload-form"
                action="/upload-file"
                method="post"
                enctype="multipart/form-data"
              >
                <input
                  id="choose-file"
                  type="file"
                  name="file"
                  style="display: none"
                />
                <input id="upload-file-button" type="button" value="File" />
                <input type="hidden" id="upload-context" name="context" value="default">
              </form>
    
              <form
                id="upload-folder-form"
                action="/upload-folder"
                method="post"
                enctype="multipart/form-data"
              >
                <input
                  id="choose-folder"
                  type="file"
                  name="folder"
                  webkitdirectory
                  multiple
                  style="display: none"
                />
                <input id="upload-folder-button" type="button" value="Folder" />
              </form>
            </div>
            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/preview/<%= file.fileName %>"
                    ><%= file.fileName %></a>
                  <div class="type-subtext">File</div>
                  <div class="action-buttons-container">
                    <button class="download-button">Download</button>
                    <button class="delete-file-button">Delete</button>
                    <button class="favourite-button">Add to favourites</button>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
