<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filebase - Home</title>
    <link rel="stylesheet" href="styles/home.css" />
    <script type="module" src="main.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  </head>
  <body>
    <div class="main-container">
      <div class="hero-section">
        <div class="text-wrapper">
          <div class="main-header">Filebase</div>
          <div class="description">
            Store all of your files and folders in one place
          </div>
        </div>
      </div>

      <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <input id="choose-file" type="file" name="file" style="display: none" />
        <input id="upload-file-button" type="button" value="Upload" />
      </form>

      <div class="file-preview-container">
        <img id="file-preview" src="" />
      </div>

      <div class="wrapper">
        <div class="all-files-section">
          <div class="files-header">All files</div>
          <div class="uploaded-files-container">
            <!-- Loop through uploaded files -->
            <% uploadedFiles.forEach(function(file) { %>
            <div class="file-container">
              <div class="uploaded-file"><%= file.fileName %></div>
              <div class="action-buttons-container">
                <!-- Download button -->
                <form action="/download/<%= file.fileName %>" method="get">
                  <button class="download-button" type="submit">Download</button>
                </form>

                <!-- Delete button -->
                <button class="delete-button">Delete</button>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>

      <div class="signed-in-message">Signed in with Google as <%= displayName %></div>
      <a class="logout-button" href="/logout">Logout</a>
    </div>
  </body>
</html>
