<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - Filebase</title>
    <link rel="stylesheet" href="styles/login.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="hero-section">
        <div class="text-wrapper">
          <div class="logotype">Filebase</div>
          <div class="description">
            Store all of your files and folders in one place
          </div>
        </div>
      <a href="/auth/google" class="login-button">Sign in with Google</a>
    </div>
  </body>
</html>
