<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No access - Filebase</title>
    <link rel="stylesheet" href="../styles/no-auth.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="file-not-found-text">
        You do not have access to this file.
      </div>
      <a class="logotype" href="/">Filebase</a>
    </div>
  </body>
</html>
