<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/styles/preview.css">
    <title><%= title %></title>
  </head>
  <body>
    <div class="main-container">
      <div class="header"><%= header %></div>
      <div class="preview-header">File preview</div>
      <img class="image-preview" src="<%= imageUrl %>">
    </div>
  </body>
</html>
