<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Public - Filebase</title>
    <link rel="stylesheet" href="/styles/home.css" />
    <script type="module" src="../main.js" defer></script>
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <div class="wrapper">
          <div class="all-files-section">
            <div class="files-header">Public</div>
            <input
              type="text"
              id="search-files-input"
              name="search-files"
              placeholder="Search all files"
            />

            <% if (uploadedFiles.length === 0) { %>
            <div class="empty-text-header">This folder has no files</div>
            <% } %>

            <div class="uploaded-files-container">
              <% uploadedFiles.forEach(function(file) { %>
              <div class="file-container">
                <div class="file-item">
                  <a class="uploaded-file" href="/preview/<%= file.fileName %>"
                    ><%= file.fileName %></a
                  >
                  <div class="type-subtext">File</div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
