/* Fonts */

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Thin.otf') format('opentype');
  font-weight: 200;
}

/* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

body, html {
  height: 100%;
  background: #f7f7f7;
  color: #333;
}

.main-container {
  display: flex;
  height: 100%;
}

.logotype {
  font-size: 20px;
  font-weight: 600;
  color: #0173e5;
  margin-bottom: 20px;
  text-decoration: none;
  width: fit-content;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin-bottom: 10px;
  padding: 10px;  
  border-left: 3px solid transparent;
  cursor: pointer;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
  background-color: #f0f0f0;
  border-left-color: #0366d6;
  font-size: 14px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.choose-upload {
  font-size: 22px;
  margin-bottom: 10px;
}

.upload-buttons-container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

#upload-file-button, #upload-folder-button {
  background-color: #0366d6;
  color: white;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 25px;
}

#upload-file-button:hover, #upload-folder-button:hover {
  background-color: #036fd4;
}

.create-folder-button {
  color: black;
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  margin: 0px 0px 20px 0px;
}

.create-folder-button {
  background-color: rgb(226, 225, 225);
}

.wrapper {
  background-color: #f7f7f7;
}

.all-files-section {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
}

.files-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.uploaded-files-container {
  display: flex;
  flex-direction: column;
}

.file-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
}

.file-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.uploaded-file {
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  width: fit-content;
}

.uploaded-file:hover {
  cursor: pointer;
  text-decoration: underline;
}

.action-buttons-container {
  display: flex;
  gap: 10px;
}

.download-button,
.delete-button {
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
}

.download-button {
  background-color: #0366d6;
}

.delete-button {
  background-color: #f44336;
}

.favourite-button {
  color: black;
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
}

.download-button:hover {
  background-color: #036fd4;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.favourite-button:hover {
  background-color: rgb(226, 225, 225);
}

.signed-in-message {
  margin-top: auto; /* Pushes to the bottom of the sidebar */
  font-size: 12px;
  color: #666;
}

.logout-button {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #ececec;
}
