/* Fonts */

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Thin.otf') format('opentype');
  font-weight: 200;
}

/* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

body,
html {
  height: 100%;
  background: #f7f7f7;
  color: #333;
}

.main-container {
  display: flex;
  height: 100%;
  overflow-y: hidden;
}

.logotype {
  font-size: 20px;
  font-weight: 600;
  color: #0173e5;
  margin-bottom: 20px;
  text-decoration: none;
  width: fit-content;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 3px solid transparent;
  cursor: pointer;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
  background-color: #f0f0f0;
  border-left-color: #0366d6;
  font-size: 14px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.choose-upload {
  font-size: 14px;
  margin-bottom: 10px;
  color: gray;
}

.upload-buttons-container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

#upload-file-button,
#upload-folder-button {
  background-color: #0366d6;
  color: white;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 25px;
}

#upload-file-button:hover,
#upload-folder-button:hover {
  background-color: #036fd4;
}

.input-and-buttons-wrapper {
  display: flex;
  flex-direction: column;
}

#search-files-input {
  width: 50%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.file-manipulation-buttons {
  display: flex;
  gap: 10px;
}

.create-folder-button,
.dropbox-chooser-button {
  color: black;
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 13px;
  width: fit-content;
  margin: 0px 0px 20px 0px;
}

.create-folder-button:hover,
.dropbox-chooser-button:hover {
  background-color: rgb(226, 225, 225);
}

i {
  color: #0061FE;
  padding-right: 8px;
}

.processing-upload {
  font-size: 14px;
  text-decoration: underline;
  color: #0366d6;
  margin-bottom: 20px;
}

.wrapper {
  background-color: #f7f7f7;
}

.all-files-section,
.settings-section {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
  max-height: 96vh;
}

.page-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.uploaded-files-container {
  display: flex;
  flex-direction: column;
}

.file-container,
.folder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
}

.file-item,
.folder-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.uploaded-file,
.uploaded-folder {
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  width: fit-content;
  max-width: 550px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploaded-file:hover,
.uploaded-folder:hover {
  cursor: pointer;
  text-decoration: underline;
}

.type-subtext {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: gray;
}

.action-buttons-container {
  display: flex;
  gap: 10px;
}

.download-file-button,
.delete-file-button,
.permanently-delete-file-button,
.delete-folder-button,
.permanently-delete-folder-button,
.delete-all-files-button {
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

.download-file-button {
  background-color: #0366d6;
}

.delete-file-button,
.permanently-delete-file-button,
.delete-folder-button,
.permanently-delete-folder-button,
.delete-all-files-button {
  background-color: #f44336;
}

.file-favourite-button,
.folder-favourite-button,
.rename-file-button,
.rename-folder-button,
.share-file-button,
.share-folder-button,
.restore-file-button,
.restore-folder-button {
  color: black;
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

.sidebar-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto; /* Pushes to the bottom of the sidebar */
  font-size: 12px;
  color: #666;
}

.out-of-storage-text {
  font-size: 12px;
  font-weight: 500;
  color: #f44336;
  text-decoration: underline;
}

.logout-button,
.settings-button {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  border: none;
}

.open-delete-account-modal-button {
  display: block;
  text-align: center;
  margin-top: 15px;
  padding: 10px;
  background-color: #f44336;
  color: white;
  text-decoration: none;
  font-size: 12px;
  border: none;
}

.back-button {
  display: flex;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  color: #0366d6;
  border: none;
  margin-bottom: 20px;
  background: transparent;
}

.no-files-message {
  font-size: 14px;
}

.cancel-confirmation-button,
.folder-cancel-confirmation-button {
  color: black;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: gainsboro;
}

.delete-file-button:hover,
.permanently-delete-file-button:hover,
.delete-folder-button:hover,
.delete-all-files-button:hover,
.permanently-delete-folder-button:hover,
.file-favourite-button:hover,
.folder-favourite-button:hover,
.rename-file-button:hover,
.rename-folder-button:hover,
.download-file-button:hover,
.logout-button:hover,
.settings-button:hover,
.share-file-button:hover,
.share-folder-button:hover,
.restore-file-button:hover,
.restore-folder-button:hover,
.back-button:hover,
.open-delete-account-modal-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#share-file-modal,
#share-folder-modal,
#rename-modal,
#delete-account-modal {
  display: none;
}

.empty-text-header {
  font-size: 18px;
  margin-bottom: 15px;
}

.empty-text {
  font-size: 13px;
  color: grey;
}

.subtext {
  font-size: 13px;
  color: gray;
  margin-top: -10px;
  margin-bottom: 20px;
}

.delete-files-header-container {
  display: flex;
  flex-direction: column;
}

/* Settings page */

.account-header {
  font-size: 18px;
}

.account-subtext {
  font-size: 14px;
  color: gray;
  margin-top: 2px;
}

.account-deletion-container {
  margin-top: 30px;
}

.delete-account-header {
  font-size: 18px;
}

.delete-account-subtext {
  font-size: 14px;
  color: gray;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* Storage page */

.total-used-storage-header {
  font-size: 30px;
  color: gray;
  margin-top: -10px;
  margin-bottom: 20px;
}

.out-of-storage-header {
  color: #f44336;
  margin-top: -10px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.file-size-subtext-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.storage-used-text {
  font-size: 12px;
  color: gray;
}

.file-size {
  font-size: 14px;
  text-align: right;
}

/* Shared folder */

#logotype {
  font-size: 18px;
  font-weight: 600;
  color: #0173e5;
  margin-top: 30px;
  text-decoration: none;
  width: fit-content;
}
