/* Fonts */

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Thin.otf') format('opentype');
  font-weight: 200;
}

/* */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

body,
html {
  height: 100%;
  background: #f7f7f7;
  color: #333;
}

.main-container {
  display: flex;
  height: 100%;
  overflow-y: hidden;
}

.logotype {
  font-size: 20px;
  font-weight: 600;
  color: #0173e5;
  margin-bottom: 20px;
  text-decoration: none;
  width: fit-content;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin-bottom: 10px;
  padding: 10px;
  border-left: 3px solid transparent;
  cursor: pointer;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.menu-item:hover,
.menu-item.active {
  background-color: #f0f0f0;
  border-left-color: #0366d6;
  font-size: 14px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.choose-upload {
  font-size: 14px;
  margin-bottom: 10px;
  color: gray;
}

.upload-buttons-container {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

#upload-file-button,
#upload-folder-button {
  background-color: #0366d6;
  color: white;
  border: none;
  width: 120px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 25px;
}

#upload-file-button:hover,
#upload-folder-button:hover {
  background-color: #036fd4;
}

.input-button-wrapper {
  display: flex;
  flex-direction: column;
}

#search-files-input {
  width: 50%;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.create-folder-button {
  color: black;
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 13px;
  width: fit-content;
  margin: 0px 0px 20px 0px;
}

.create-folder-button:hover {
  background-color: rgb(226, 225, 225);
}

.processing-upload {
  font-size: 14px;
  text-decoration: underline;
  color: #0366d6;
  margin-bottom: 20px;
}

.wrapper {
  background-color: #f7f7f7;
}

.all-files-section {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
  max-height: 96vh;
}

.files-header {
  font-size: 20px;
  margin-bottom: 20px;
}

.uploaded-files-container {
  display: flex;
  flex-direction: column;
}

.file-container,
.folder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #eaeaea;
}

.file-item,
.folder-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.uploaded-file,
.uploaded-folder {
  display: inline-block;
  color: black;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
  width: 550px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.uploaded-file:hover,
.uploaded-folder:hover {
  cursor: pointer;
  text-decoration: underline;
}

.type-subtext {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 12px;
  color: gray;
}

.action-buttons-container {
  display: flex;
  gap: 10px;
}

.download-button,
.delete-file-button,
.delete-folder-button {
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

.download-button {
  background-color: #0366d6;
}

.delete-file-button,
.delete-folder-button {
  background-color: #f44336;
}

.favourite-button {
  color: black;
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
}

.download-button:hover {
  background-color: #036fd4;
}

.delete-file-button:hover,
.delete-folder-button:hover {
  background-color: #d32f2f;
}

.favourite-button:hover {
  background-color: rgb(226, 225, 225);
}

.share-file-button {
  color: black;
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  text-decoration: none;
}

.share-file-button:hover {
  background-color: rgb(226, 225, 225);
}

.signed-in-message {
  margin-top: auto; /* Pushes to the bottom of the sidebar */
  font-size: 12px;
  color: #666;
}

.logout-button {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #ececec;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  border-radius: 40px;
  width: 100px;
  height: 30px;
  background-color: gainsboro;
  color: black;
  border: none;
  margin-bottom: 20px;
}

.back-button:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.no-files-message {
  font-size: 14px;
}

.cancel-confirmation-button,
.folder-cancel-confirmation-button {
  color: black;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 12px;
  background-color: gainsboro;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

#share-file-modal {
  display: none;
}

.empty-text-header {
  font-size: 18px;
  margin-bottom: 15px;
}

.empty-text {
  font-size: 13px;
  color: grey;
}
