/* Fonts */

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Thin.otf') format('opentype');
  font-weight: 200;
}

/* */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Geist', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

.top-nav {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logotype {
  font-size: 24px;
  font-weight: 600;
  color: #0173e5;
  text-decoration: none;
  width: fit-content;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.hero-header {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.hero-subtext {
  font-size: 16px;
  margin-bottom: 30px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  width: 200px;
  height: 40px;
  background-color: #0173e5;
  color: white;
  border-radius: 40px;
  font-weight: 400;
}

.login-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.features {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.feature {
  max-width: 300px;
  text-align: center;
}

.feature-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 14px;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid gainsboro;
}
