/* Fonts */

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Thin.otf') format('opentype');
  font-weight: 200;
}

/* */

* {
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
}

body {
  background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logotype {
  font-size: 30px;
  font-weight: 700;
  color: #0173e5;
  margin-bottom: 5px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  width: 200px;
  height: 40px;
  background-color: white;
  color: black;
  border: 1px solid gray;
  border-radius: 40px;
  font-weight: 400;
}

.login-button:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
}
