#create-folder-modal,
#share-file-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 30px;
  border: 1px solid #888;
  width: 40%;
}

.share-file-header {
  font-size: 20px;
  color: #0366d6;
  margin-bottom: 5px;
}

.file-name {
  font-size: 14px;
  margin-bottom: 8px;
}

hr {
  border: 1px solid gainsboro;
}

.modal-text {
  margin: 20px 0px 10px 0px;
  font-size: 16px;
}

.modal-subtext {
  color: grey;
  font-size: 13px;
}

#folder-name-input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.copy-link-button,
.create-link-button,
#cancel-button,
#create-button,
#cancel-share-button {
  background-color: #0366d6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}

.copy-link-button:hover,
.create-link-button:hover,
#cancel-button:hover,
#create-button:hover,
#cancel-share-button:hover {
  opacity: 0.9;
}

#cancel-button,
#cancel-share-button {
  color: black;
  background-color: gainsboro;
}
