#create-folder-modal,
#share-file-modal,
#share-folder-modal,
#delete-account-modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border-radius: 15px;
  width: 40%;
}

.share-file-header,
.share-folder-header,
.modal-delete-account-header {
  font-size: 20px;
  color: #0366d6;
  margin-bottom: 5px;
}

.file-name,
.folder-name {
  font-size: 14px;
  margin-bottom: 8px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  border: 1px solid gainsboro;
}

.modal-text {
  margin: 20px 0px 10px 0px;
  font-size: 16px;
}

.modal-subtext {
  color: grey;
  font-size: 13px;
}

#folder-name-input {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  gap: 8px;
}

.copy-file-link-button,
.copy-folder-link-button,
.create-file-link-button,
.create-folder-link-button,
.delete-file-link-button,
.delete-folder-link-button,
#cancel-button,
#create-button,
#cancel-file-share-button,
#cancel-folder-share-button,
.delete-account-button,
#cancel-account-deletion-button {
  background-color: #0366d6;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  white-space: nowrap;
}

.copy-file-link-button:hover,
.copy-folder-link-button:hover,
.create-file-link-button:hover,
.create-folder-link-button:hover,
.delete-file-link-button:hover,
.delete-folder-link-button:hover,
#cancel-button:hover,
#create-button:hover,
#cancel-file-share-button:hover,
#cancel-folder-share-button:hover,
.delete-account-button:hover,
#cancel-account-deletion-button:hover {
  opacity: 0.9;
}

#cancel-button,
#cancel-file-share-button,
#cancel-folder-share-button,
#cancel-account-deletion-button {
  color: black;
  background-color: gainsboro;
}

.delete-file-link-button,
.delete-folder-link-button,
.delete-account-button {
  background-color: red;
}

.inactive {
  color: black;
  background-color: transparent;
}

.inactive:hover {
  opacity: 1;
  cursor: default;
}
