/* Fonts */

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../assets/fonts/Geist/Geist-Thin.otf') format('opentype');
  font-weight: 200;
}

/* */

* {
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
}

body {
  background-color: #ffffff;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.back-button {
  display: flex;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  color: #0366d6;
  border: none;
  margin-bottom: 20px;
  background: transparent;
}

.back-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.preview-card {
  border: 1px solid gainsboro;
  border-radius: 20px;
  padding: 30px;
}

.preview-header {
  font-size: 22px;
  color: #0479ef;
}

.file-preview-container {
  display: block;
}

.folder-name {
  font-size: 14px;
  margin-top: 5px;
}

.file-name {
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#file-preview {
  height: 400px;
  width: auto;
  margin: 20px 0px 20px 0px;
}

.text-file-preview {
  height: 50vh;
  width: 50vw;
  margin: 20px 0px 20px 0px;
}

#audio-preview,
audio {
  width: 500px;
  height: 54px;
  margin: 60px 0px 60px 0px;
}

#video-preview {
  height: 425px;
  width: auto;
  margin: 20px 0px 20px 0px;
  border-radius: 20px;
}

.download-file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  border-radius: 40px;
  width: 100px;
  height: 30px;
  background-color: #0173e5;
  color: white;
  border: none;
  font-weight: 400;
}

.download-file-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

hr {
  border: 1px solid gainsboro;
}

pre {
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 500px;
  width: auto;
  overflow-y: auto;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.permissions-text {
  font-size: 13px;
  text-align: left;
  margin-top: 5px;
  color: grey;
}

.shared-file-text {
  font-size: 13px;
  text-align: center;
}

#logotype {
  font-size: 24px;
  font-weight: 600;
  color: #0173e5;
  margin-top: 30px;
  text-decoration: none;
  width: fit-content;
}
