@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist/Geist-Thin.otf') format('opentype');
  font-weight: 200;
}

* {
  box-sizing: border-box;
  font-family: 'Geist', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.main-header {
  font-size: 30px;
  font-weight: 700;
  color: #0173e5;
  margin: 10px 0px 0px 0px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

#upload-file-button {
  text-decoration: none;
  font-size: 13px;
  border-radius: 40px;
  width: 100px;
  height: 35px;
  background-color: #0173e5;
  color: white;
  border: none;
  font-weight: 500;
  margin-bottom: 40px;
}

#upload-file-button:hover {
  cursor: pointer;
  background-color: #0479ef;
}

.all-files-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.files-header {
  font-weight: 600;
}

.uploaded-files-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 400px;
  gap: 30px;
  font-size: 14px;
}

.file-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.uploaded-file:hover {
  cursor: pointer;
  text-decoration: underline;
}

.action-buttons-container {
  display: flex;
  gap: 10px;
}

.download-button {
  text-decoration: none;
  font-size: 12px;
  border-radius: 40px;
  width: 90px;
  height: 30px;
  background-color: gainsboro;
  color: black;
  border: none;
  font-weight: 500;
}

.download-button:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.delete-button {
  text-decoration: none;
  font-size: 12px;
  border-radius: 40px;
  width: 70px;
  height: 30px;
  background-color: gainsboro;
  color: black;
  border: none;
  font-weight: 500;
}

.delete-button:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.success-message {
  font-size: 14px;
  text-decoration: underline;
  margin-top: 40px;
  color: #0173e5;
}

#file-preview {
  height: 300px;
  width: auto;
  border-radius: 15px;
}
