* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.main-header {
  font-size: 30px;
  font-weight: 700;
  color: #0173e5;
  margin: 10px 0px 0px 0px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtext {
  font-size: 14px;
  margin: 0px 0px 20px 0px;
}

#upload-file-button {
  text-decoration: none;
  font-size: 13px;
  border-radius: 40px;
  width: 100px;
  height: 35px;
  background-color: #0173e5;
  color: white;
  border: none;
  font-weight: 500;
  margin-bottom: 40px;
}

#upload-file-button:hover {
  cursor: pointer;
  background-color: #0479ef;
}

.uploaded-files-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  font-size: 14px;
}

.file-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.action-buttons-container {
  display: flex;
  gap: 10px;
}

.download-button {
  text-decoration: none;
  font-size: 12px;
  border-radius: 40px;
  width: 90px;
  height: 25px;
  background-color: gainsboro;
  color: black;
  border: none;
  font-weight: 500;
}

.download-button:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.delete-button {
  text-decoration: none;
  font-size: 12px;
  border-radius: 40px;
  width: 70px;
  height: 25px;
  background-color: gainsboro;
  color: black;
  border: none;
  font-weight: 500;
}

.delete-button:hover {
  cursor: pointer;
  background-color: rgb(212, 212, 212);
}

.success-message {
  font-size: 14px;
  text-decoration: underline;
  margin-top: 40px;
  color: #0173e5;
}
