<!-- Create folder modal -->
<div id="create-folder-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <form id="folder-form">
      <label for="folder-name">Enter a name for your new folder</label>
      <br />
      <input
        type="text"
        id="folder-name-input"
        name="folder-name"
        placeholder="Enter folder name"
      />
      <br />
      <input type="button" id="cancel-button" value="Cancel" />
      <input type="submit" id="create-button" value="Create" />
    </form>
  </div>
</div>
