<!-- Confirm delete modal -->
<div id="permanently-delete-item-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="permanently-delete-item-header" style="color: black;">Permanently delete?</div>
    <div class="file-name"></div>
    <hr style="margin-bottom: 20px; width: 50%">
    <div style="margin-bottom: 20px; font-size: 14px; font-weight: 500;">
      This item will be gone forever and you won’t be able to restore it.
    </div>
    <div class="button-container">
      <button id="cancel-delete-button">Cancel</button>
      <button id="confirm-delete-button">Permanently delete</button>
    </div>
  </div>
</div>
