<!-- Rename modal -->
<div id="rename-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="rename-header">Rename</div>
    <form id="rename-form">
      <input
        type="text"
        id="rename-input"
        name="new-name"
        placeholder="Enter a new name"
      />
      <div class="button-container">
        <input type="button" id="cancel-rename-button" value="Cancel" />
        <input type="submit" id="submit-rename-button" value="Rename" />
      </div>
    </form>
  </div>
</div>
