<!-- Share folder modal -->
<div id="share-folder-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="share-folder-header">Share this folder</div>
    <div class="folder-name"></div>
    <hr />
    <div class="modal-text">
      To share this folder, create or copy a shareable link below.
    </div>
    <div class="modal-subtext">
      Anyone with this link can view this folder and its file contents -- even
      non-Filebase users.
    </div>
    <div class="modal-subtext" style="margin-top: 25px">
      Links expire after 7 days.
    </div>
    <div class="modal-subtext" style="margin-top: 10px">
      For more granular control, you may generate a new link at anytime or
      delete it. Both will cause the link to no longer work for anyone who has
      it.
    </div>
    <br />
    <div class="button-container">
      <button id="cancel-folder-share-button">Cancel</button>
      <a class="copy-folder-link-button">Copy link</a>
      <button class="create-folder-link-button">Create new link</button>
      <button class="delete-folder-link-button">Delete link</button>
    </div>
  </div>
</div>
