<!-- Share file modal -->
<div id="share-file-modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="share-file-header">Share this file</div>
    <div class="file-name"></div>
    <hr />
    <div class="modal-text">
      To share this file, create or copy a shareable link below.
    </div>
    <div class="modal-subtext">
      Anyone with this link can view this file -- even non-Filebase users.
    </div>
    <div class="modal-subtext" style="margin-top: 25px">
      Links expire after 7 days.
    </div>
    <div class="modal-subtext" style="margin-top: 10px">
      For more granular control, you may generate a new link at anytime or
      delete it. Both will cause the link to no longer work for anyone who has
      it.
    </div>
    <br />
    <div class="button-container">
      <button id="cancel-file-share-button">Cancel</button>
      <a class="copy-file-link-button">Copy link</a>
      <button class="create-file-link-button">Create new link</button>
      <button class="delete-file-link-button">Delete link</button>
    </div>
  </div>
</div>
